```env id="p2x5ds"
# Environment: development | testing | production
APP_ENV=development

# Library settings
LOAN_DAYS=14
DATA_FILE=library.json

# Docker / Deployment
DOCKER_USERNAME=your_dockerhub_username
DOCKER_PASSWORD=your_dockerhub_password

# Server SSH (for production deploy)
SSH_HOST=your_server_ip
SSH_USER=Administrator
SSH_PASSWORD=your_password
